{{!< default}}
{{#contentFor 'title'}}404 Error: Page Not Found{{/contentFor}}
{{#contentFor 'style'}}
<style>
  body {
    background-image: url('/build/theme/media/auth/bg6.jpg');
  }
  
  [data-bs-theme="dark"] body {
    background-image: url('/build/theme/media/auth/bg6-dark.jpg');
  }
</style>
{{/contentFor}}
<!--begin::Authentication - Signup Welcome Message -->
<div class="d-flex flex-column flex-center flex-column-fluid">
  <!--begin::Content-->
  <div class="d-flex flex-column flex-center text-center p-10">
    <!--begin::Wrapper-->
    <div class="card card-flush w-lg-650px py-5">
      <div class="card-body py-15 py-lg-20">
        <!--begin::Title-->
        <h1 class="fw-bolder fs-2hx mb-4">404 Error: Page Not Found</h1>
        <!--end::Title-->
        <!--begin::Text-->
        <div class="fw-semibold fs-6 mb-7">The page you requested could not be found. Please check the URL and try again. If the problem persists, please contact us.</div>
        <!--end::Text-->
        <!--begin::Illustration-->
        <div class="mb-3">
          <img src="/build/theme/media/auth/404-error.png" class="mw-100 mh-300px theme-light-show" alt="" />
          <img src="/build/theme/media/auth/404-error-dark.png" class="mw-100 mh-300px theme-dark-show" alt="" />
        </div>
        <!--end::Illustration-->
        <!--begin::Link-->
        <div class="mb-0">
          <a href="/" class="btn btn-sm btn-primary">Back to Home</a>
        </div>
        <!--end::Link-->
      </div>
    </div>
    <!--end::Wrapper-->
  </div>
  <!--end::Content-->
</div>
<!--end::Authentication - Signup Welcome Message-->