{{!< default}}
{{#contentFor 'title'}}Login{{/contentFor}}
{{#contentFor 'style'}}<link rel="stylesheet" type="text/css" href="{{cache_busting '/assets/login.css' baseUrl}}">{{/contentFor}}
{{#contentFor 'script'}}<script src="{{cache_busting '/assets/login.js' baseUrl}}"></script>{{/contentFor}}
<form id="form" class="w-100 mx-auto my-0 login-form">
  <h1 class="h3 mb-3 font-weight-normal text-center">Please login</h1>
  <div class="mb-3">
    <label class="form-label">Email address</label>
    <input type="email" class="form-control" name="email" required autofocus value="robin@example.com">
  </div>
  <div class="mb-3">
    <label class="form-label">Password</label>
    <input type="password" class="form-control" name="password" required value="password">
  </div>
  <button class="btn btn-primary d-block w-100" type="submit">Login</button>
</form>