{{!< default}}
{{#contentFor 'title'}}User Management{{/contentFor}}
{{#contentFor 'style'}}<link rel="stylesheet" type="text/css" href="{{cache_busting '/assets/users.css' baseUrl}}">{{/contentFor}}
{{#contentFor 'script'}}<script src="{{cache_busting '/assets/users.js' baseUrl}}"></script>{{/contentFor}}
<div class="d-flex mb-4">
  <a href="/users/new" class="btn btn-primary ms-auto">Create new user</a>
</div>
<table class="table w-100" id="table">
  <thead>
    <tr>
      <th scope="col">User ID</th>
      <th scope="col">Email</th>
      <th scope="col">Name</th>
      <th scope="col">Modified</th>
      <th scope="col">#</th>
    </tr>
  </thead>
</table>