{{!< default}}
{{#contentFor 'title'}}Home{{/contentFor}}
{{#contentFor 'style'}}<link rel="stylesheet" type="text/css" href="{{cache_busting '/assets/home.css' baseUrl}}">{{/contentFor}}
{{#contentFor 'script'}}<script src="{{cache_busting '/assets/home.js' baseUrl}}"></script>{{/contentFor}}
<h1 class="mt-5 text-center">Welcome to Express Sweet</h1>